body {
  background-color: #86e269;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


canvas {
  image-rendering: crisp-edges;
  width: 480px;
  height: 432px;
  border: 1px solid black;
  background-color: #e2f3e4;
  border-radius: 1px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.canvas-container {
  padding: 20px;
  background-color: #3a3e45;
  border-radius: 4px;
}